html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth; }

.bgHeaderJpg {
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), white), url("../img/headerPicture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative; }

.bgFooterJpg {
  height: 50%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), white), url("../img/Smy82WU-high-quality-background-images.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative; }

.homeIntro {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  color: white; }

.navbar {
  background-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.3), black); }

.image {
  display: block;
  width: 100%;
  height: 100%;
  padding: 2px;
  border: 1px solid; }

.sectionPad {
  padding: 1em; }

.sectionHeading {
  margin-bottom: 30px;
  position: relative; }

.projectMb {
  margin-bottom: 50px;
  display: block; }
